body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/846/616/937/digital-digital-art-artwork-illustration-drawing-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 200px;
}
h3 {
    font-style: italic;
}
.word {
    color: white;
}
h1 {
    color: antiquewhite;
    font-family: 'Press Start 2P' , cursive ;
}
a:link {
    color: aqua;
}
a:hover {
    color: gray;
}